# Ігнорувати всі підпапки в Content/
Content/*

# Але дозволити AI та ThirdPerson
!Content/AI/
!Content/ThirdPerson/

# І дозволити ВСІ файли в них
!Content/AI/**
!Content/ThirdPerson/**

# Ігнорувати стандартні тимчасові та згенеровані папки
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Backup/

# IDE/редактори
.vscode/
.vs/
.vsconfig

# Файли проєкту
*.sln
*.suo
*.opensdf
*.sdf
*.log
*.tmp
*.png

*.md
*.htm

.DS_Store
